// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products
{
	table 
	{
		border-collapse: collapse;
	}
	h1
	{
		margin: 0;
		padding-bottom: 0.5em;
		font: 200% sans-serif;
		color: black;
		border-bottom: 1px dotted #77D
	}
}

table tr td
{
	padding: 5px;
	vertical-align: top;
	height: 15px;
	//border: 2px solid black;
}

.list_image
{
	width: 96px;
	hight: 112px;
	//border: 2px solid black;
}

.list_description
{
	width: 60%;
	dl
	{
		margin: 0;
	}
	dt
	{
		color: #77D;
		font-weight: bold;
		font-size: larger;
	}
	dd
	{
		margin: 0;
	}
}

.list_actions
{
	font-size: x-small;
	text-align: right;
	padding-left: lem;
}

.list_line_even
{
	//background: #ffffff; //white
}

.list_line_odd
{
	//background: #d3d3d3; //light grey
}

.list_line_odd, .list_line_even
{
	overflow: auto;
	margin-top: 1em;
	border-bottom: 1px dotted #77D;
	min-height: 100px;
}

.price
{
	font-weight: bold;
}